.Rproj.user
.Rhistory
.RData
add-commit-push.sh
butterfly-effect.pdf
david.txt
interesting-genes.txt
kiselev-pip3-rna-seq-gene-profiles.zip
len-phil-expected-effect.pdf
len-phil-expected-effect_cache/*
len-phil-expected-effect_files/*
pip3-rna-seq.Rproj
sftp-config.json
kiselev-pip3-rna-seq-gene-profiles/data/*
kiselev-pip3-rna-seq-gene-profiles/rsconnect/*
anova.R
pdf-to-png.R
sql.R
svd.R
raw-processing/*
time-courses.R
unused-functions.R
unused-main.R
